/*============================
 * TABLE OF CONTENTS
 * - Hero Section
 * - Work Section
 * - About Section
 * - Blog Section
 * - Design Section
 * - Contact Section
 * - Footer
 *============================ */

/*============================
 * Hero Section
 *============================ */

.hero-section {
	height: 100vh;
	width: 100%;
	padding: 25px 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero-section .header {
	width: 100%;
	display: grid;
	grid-template-columns: 80px auto;
}

.hero-section .nav {
	text-align: right;
}

.hero-section .mobile-nav {
	display: none;
	position: fixed;
	top: 2px;
	right: 0;
	color: #fff;
	padding-top: 20px;
	padding-right: 15px;
	z-index: 110;
}

.hero-section ul {
	list-style-type: none;
}

.hero-section ul li {
	padding: 0 10px;
	display: inline-block;
}

.hero-section .mobile-nav .btn-icon {
	border: none;
	outline: none;
	background: #131313;
	padding: 15px;
	border-radius: 50%;
}

.hero-section .mobile-nav .btn-icon::-moz-focus-inner {
	border: 0;
}

.hero-section #navMobile {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background: #131313;
}

.hero-section #navMobile .nav-list {
	width: 100%;
	height: auto;
	margin-top: 50px;
}

.hero-section #navMobile .mobile-link {
	width: 100%;
	height: 100%;
}

.hero-section #navMobile .nav-list li {
	display: block;
	text-align: center;
}

.hero-section #navMobile .mobile-link {
	color: #fff;
	font-size: 26px;
	display: block;
	padding: 25px 0;
	text-decoration: none;
}

.hero-section #navMobile .mobile-link:hover,
.hero-section #navMobile .mobile-link:focus,
.hero-section #navMobile .mobile-link:active {
	color: #131313;
	background: #fff;
}

.hero-section #navMobile .social-media-icons {
	position: fixed;
	right: 0;
	bottom: 0;
}

.hero-section .content {
	height: 866px;
	width: 100%;
	color: #fff;
	padding-left: 150px;
	padding-right: 25px;
	position: relative;
	display: flex;
	align-items: center;
	background-color: #131313;
}

.hero-section .cta {
	z-index: 10;
}

.hero-section .bg {
	z-index: 1;
}

.hero-section .cta .display-1 {
	margin-left: -50px;
}

.hero-section .cta .description {
	max-width: 400px;
}

.hero-section .bg-logo {
	width: 500px;
	height: auto;
	position: absolute;
	bottom: 0;
	right: 25px;
}

.hero-section .social-media-icons {
	margin-top: 20px;
	width: 100%;
	text-align: right;
}

.hero-section .social-media-icons a {
	margin: 5px;
}

.hero-section i {
	color: #131313;
}

.hero-section i:hover,
.hero-section i:focus,
.hero-section i:active {
	color: #4b555c;
}

@media (max-width: 1200px) {
	.hero-section .content {
		padding-left: 100px;
	}
}

@media (max-width: 992px) {
	.hero-section {
		padding: 0;
	}

	.hero-section .header,
	.hero-section .social-media-icons {
		margin: 0;
		padding: 15px;
		color: #fff;
		background: #131313;
	}

	.hero-section .header a.link,
	.hero-section .social-media-icons i {
		color: #fff;
	}

	.hero-section .header a.link:hover,
	.hero-section .header a.link:focus,
	.hero-section .header a.link:active {
		color: #f9f871;
		border-bottom: 2px solid #f9f871;
	}

	.hero-section .social-media-icons i:hover,
	.hero-section .social-media-icons i:focus,
	.hero-section .social-media-icons i:active {
		color: #f9f871;
	}
}

@media (max-width: 576px) {
	.hero-section .mobile-nav {
		text-align: right;
		display: block;
		margin-top: -20px;
	}

	.hero-section .mobile-nav i {
		color: #fff;
	}

	.hero-section .nav ul {
		display: none;
	}

	.hero-section .content {
		padding-left: 25px;
	}

	.hero-section .cta .display-1 {
		margin-left: 0;
		font-size: 62px;
	}

	.hero-section .bg-logo {
		width: 400px;
	}
}

@media (max-height: 530px) {
	.hero-section .bg-logo {
		width: 300px;
	}
}

@media (max-height: 600px) {
	.hero-section #navMobile .mobile-link {
		font-size: 22px;
		padding: 15px 0;
	}
}

@media (max-height: 460px) {
	.hero-section #navMobile .mobile-link {
		font-size: 18px;
		padding: 10px 0;
	}
}

@media (max-height: 320px) {
	.hero-section #navMobile .mobile-link {
		font-size: 14px;
		padding: 5px 0;
	}
}

/*============================
 * Work Section
 *============================ */

.work-item {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.work-item .info,
.work-item .image {
	padding: 50px;
}

.work-item .image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.work-item .image img {
	max-width: 574px;
	width: 100%;
	height: auto;
	border-radius: 15px;
	box-shadow: 0 0 8px gray;
}

.work-item .image img.no-shadow {
	box-shadow: none;
}

.work-item .info {
	color: #fff;
	background: #131313;
	padding-right: 150px;
}

.work-item:nth-child(odd) .image {
	order: 2;
}

.work-item .btn {
	margin-right: 15px;
}

@media (max-width: 992px) {
	.work-item {
		display: block;
	}

	.work-item .info {
		padding-top: 10px;
	}

	.work-item:nth-child(odd) .info,
	.work-item:nth-child(odd) .image {
		color: #fff;
		background: #131313;
	}

	.work-item:nth-child(odd) .image img {
		box-shadow: none;
	}

	.work-item:nth-child(even) .info,
	.work-item:nth-child(even) .image {
		color: #131313;
		background: #fff;
	}

	.work-item:nth-child(even) .text-muted {
		opacity: 0.4;
	}

	.work-item:nth-child(even) .highlight-hover:hover {
		color: #4b555c;
	}

	.work-item:nth-child(even) .btn {
		color: #131313;
		border: 3px solid #131313;
		background: #fff;
	}

	.work-item:nth-child(even) .btn:hover,
	.work-item:nth-child(even) .btn:focus,
	.work-item:nth-child(even) .btn:active {
		color: #fff;
		border: 3px solid #131313;
		background: #131313;
	}

	.work-item:nth-child(even) .btn-primary {
		color: #fff;
		background: #131313;
	}
}

@media (max-width: 768px) {
	.work-item .info {
		padding-right: 50px;
	}
}

@media (max-width: 576px) {

	.work-item .info,
	.work-item .image {
		padding: 25px;
	}
}

/*============================
 * About Section
 *============================ */

/* About Me */

.about-me {
	padding: 100px;
	color: #fff;
	background: #131313;
}

.highlight-primary {
	display: inline-block;
	color: #131313;
	background: #fff;
}

.about-me .title {
	text-align: right;
}

.about-me .name .display-2,
.about-me .title .display-2 {
	margin: 10px 0;
}

.about-me .description {
	margin: 75px 150px;
}

.about-me .description p {
	margin: 25px;
}

@media (max-width: 992px) {
	.about-me .description {
		margin: 75px 50px;
	}
}

@media (max-width: 768px) {
	.about-me {
		padding: 50px;
	}
}

@media (max-width: 576px) {
	.about-me .description {
		margin: 50px 0;
	}

	.about-me .name .display-2,
	.about-me .title .display-2 {
		font-size: 50px;
	}

	.about-me {
		padding: 25px;
	}
}

/* Skills */

.skills {
	width: 800px;
	margin: 100px auto;
}

.skills .description p {
	margin: 25px 0;
}

.skills-list {
	padding: 0 50px;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.skills-list ul {
	list-style-type: none;
}

.skills-list li {
	margin: 15px 0;
}

.skills-list li span {
	padding: 5px 10px;
}

.skills-list li:nth-child(even) span {
	color: #fff;
	background: #131313;
}

.skills-list .core-skills {
	display: grid;
	grid-column-gap: 50px;
	grid-template-columns: 1fr 1fr;
}

.skills-list .core-skills .list-title {
	grid-column: 1 / -1;
}

.skills-list .other-skills .list-title {
	margin-bottom: 40px;
}

@media (max-width: 992px) {
	.skills {
		width: 700px;
		margin: 100px auto;
	}
}

@media (max-width: 768px) {
	.skills {
		max-width: 600px;
		width: auto;
		margin: 100px 50px;
	}

	.skills-list .core-skills,
	.skills-list .other-skills {
		margin-left: 50px;
		margin-bottom: 40px;
		grid-column: 1 / -1;
	}
}

@media (max-width: 576px) {
	.skills-list {
		padding: 0;
	}

	.skills-list .core-skills {
		grid-column-gap: 0;
		grid-template-columns: 3fr 1fr;
	}

	.skills-list .core-skills,
	.skills-list .other-skills {
		margin-left: 0;
	}
}

/*============================
 * Blog Section
 *============================ */

.blog-section {
	padding: 150px 20vw;
	color: #fff;
	background: #131313;
}

.blog-section .title {
	margin-bottom: 50px;
}

.blog-section .article-item {
	margin-bottom: 50px;
}

.blog-section .article-item h3 {
	margin: 0;
}

.blog-section .article-item h3 a {
	color: #fff;
	font-size: 26px;
	text-decoration: none;
}

.blog-section .article-item h3 a:hover,
.blog-section .article-item h3 a:focus,
.blog-section .article-item h3 a:active {
	color: #f9f871;
}

.blog-section .article-item p:not(.text-muted) {
	margin: 15px 0;
}

.blog-section .article-item a {
	margin-left: 0;
}

@media (max-width: 992px) {
	.blog-section {
		padding: 150px 120px;
	}
}

@media (max-width: 576px) {
	.blog-section {
		padding: 150px 50px;
	}
}

/*============================
 * Design Section
 *============================ */

.design-section {
	padding-top: 100px;
}

.design-section .title {
	width: 800px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.design-section .design-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.design-section .design-grid img {
	width: 100%;
}

.design-section .image-link {
	margin: 0;
	margin-top: -5px;
}

@media (max-width: 992px) {
	.design-section .title {
		width: 600px;
	}
}

@media (max-width: 768px) {
	.design-section .title {
		width: 500px;
	}
}

@media (max-width: 576px) {
	.design-section .title {
		width: auto;
		padding: 0 50px;
	}

	.design-section .design-grid {
		display: grid;
		grid-template-columns: 1fr;
	}
}

/*============================
 * Contact Section
 *============================ */

.contact-section {
	margin-top: -10px;
	padding: 100px;
	color: #fff;
	background: #131313;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
}

.contact-form .form-group {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 120px auto;
}

.contact-form label {
	padding-top: 15px;
	padding-left: 25px;
	border-left: 5px solid #fff;
}

.contact-form input,
.contact-form textarea {
	padding: 15px;
	color: #fff;
	background: none;
	border: 1px solid #fff;
	border-radius: 3px;
}

.contact-form button[type='submit'] {
	margin-top: 50px;
}

.brief-info {
	text-align: center;
	padding: 0 36px;
}

.brief-info .logo {
	width: 180px;
	border-radius: 50%;
}

.brief-info h3.name {
	margin-bottom: 15px;
}

.brief-info p:not(.title) {
	margin: 25px 0;
}

.brief-info .social-media-icons a {
	color: #fff;
	margin: 0 5px;
	font-size: 25px;
}

.brief-info .social-media-icons a:hover,
.brief-info .social-media-icons a:active,
.brief-info .social-media-icons a:focus {
	color: #f9f871;
}

.alert-message {
	display: inline-block;
	padding: 15px 25px;
	margin-top: 30px;
	font-size: 22px;
	color: #131313;
	background: #fff;
	opacity: 0.8;
	text-transform: uppercase;
}

@media (max-width: 992px) {

	.contact-section {
		padding: 100px 50px;
	}

	.brief-info .logo {
		width: 150px;
	}
}

@media (max-width: 768px) {
	.contact-section {
		padding: 100px;
	}

	.contact-section .contact-info,
	.contact-section .brief-info {
		grid-column: 1 / -1;
	}

	.contact-section .brief-info {
		margin-top: 100px;
		padding: 0;
	}
}

@media (max-width: 576px) {
	.contact-section {
		padding: 100px 50px;
	}

	.contact-form .form-group {
		grid-template-columns: 1fr;
	}

	.contact-form label {
		padding: 10px;
		margin-bottom: 25px;
	}
}

/*============================
 * Footer
 *============================ */

.footer {
	text-align: center;
	margin: 5px 0;
}