@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,600,700,800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
div,
button {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	margin: 25px 0;
}

h4,
h5 {
	margin: 10px 0;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 33px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

.display-1,
.display-2,
.display-3,
.display-4 {
	margin: 15px;
	font-weight: 400;
	letter-spacing: 0.05em;
	font-family: 'Lato', sans-serif;
}

.display-1 {
	font-size: 94px;
}

.display-2 {
	font-size: 74px;
}

.display-3 {
	font-size: 58px;
}

.display-4 {
	font-size: 46px;
}

a,
li,
p {
	margin: 5px 0;
	font-size: 16px;
}

p {
	line-height: 27px;
}

p.text-sm {
	font-size: 13px;
}

a.text-link {
	color: #131313;
	font-weight: bold;
	margin-left: 5px;
	text-decoration: none;
	border-bottom: 3px solid #131313;
}

a.link {
	color: #131313;
	text-decoration: none;
}

a.link:hover,
a.link:focus,
a.link:active {
	color: #4b555c;
	border-bottom: 2px solid #4b555c;
}

.btn {
	color: #fff;
	margin: 15px 0;
	border: 3px solid #fff;
	background: #131313;
	text-transform: uppercase;
}

.btn:hover,
.btn:focus,
.btn:active {
	color: #131313;
	background: #fff;
}

.btn-lg {
	padding: 15px 35px;
	font-size: 18px;
}

.btn-md {
	padding: 10px 20px;
	font-size: 16px;
}

.btn-sm {
	padding: 10px;
}

a.btn {
	display: inline-block;
	text-decoration: none;
}

.highlight,
.highlight-hover:hover {
	color: #f9f871;
}

.highlight-hover-sm:hover,
.highlight-hover-white:hover {
	font-weight: bold;
}

.text-muted {
	opacity: 0.2;
}

.text-muted-white {
	opacity: 0.6;
}

.mt-0 {
	margin-top: 0;
}

.mt-1 {
	margin-top: 5%;
}

/* Extra Small devices (landscape phones, 576 and down) */
@media (max-width: 576px) {
	.highlight-hover-sm:hover {
		color: #f9f871;
	}
}
